<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All suites">
    <suite-files>
        <suite-file path="src/test/java/suites/login.xml"/>
    </suite-files>

    <suite-files>
        <suite-file path="src/test/java/suites/newChecking.xml"/>
    </suite-files>

    <suite-files>
        <suite-file path="src/test/java/suites/savingsSearch.xml"/>
    </suite-files>

    <suite-files>
        <suite-file path="src/test/java/suites/newSavings.xml"/>
    </suite-files>

    <suite-files>
        <suite-file path="src/test/java/suites/viewCheckingAccounts.xml"/>
    </suite-files>
</suite>

